<%- include('partials/header') -%>
<div class="container border-top pt-5">
  <div class="row justify-content-center">
    <!-- <h2 class=""><%= `${post.product} sold in ${post.storeName}, ${post.location}, ${post.city}, ${post.province} was found by` %> <span><%= post.userName %></span></h2> -->

    <div class=" row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-muted lh-1"><%= post.product %> </h2>
        <h2 class="fw-normal">PhP<%= post.price %><small class="fw-light">/<%= `${post.quantity} ${post.unit}` %></small></h2>
        <p class="lead">Store: <%= post.storeName %></p>
        <p class="lead">Location: <%= `${post.location}, ${post.city}, ${post.province}` %></p>
        <p class="col"><span class="fa fa-star"></span>( <%= post.stars %> ) user/s liked this product!</p>
        <div class="btn-group">
          <form
            class=""
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button type="submit" class="btn btn-sm btn-outline-secondary"><span class="fa fa-star"></span> Give a Star</button>
            <!-- <span class="fa fa-star"></span> -->
          </form>
          <!-- <button type="submit" class="btn btn-sm btn-outline-secondary"><span class="fa fa-pen"></span> Edit</button> -->
          <% if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class=""
          >
            <button type="submit" class="btn btn-sm btn-outline-secondary"><span class="fa fa-pen"></span> Delete</button>
          </form>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class=""
          >
            <button type="submit" class="btn btn-sm btn-outline-secondary"><span class="fa fa-trash"></span> Delete</button>
          </form>
          <% } %>
        </div>
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
        </div> -->
        <span></span>
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Update Price</button>
        </div> -->
      </div>
      <div class="col-md-5">
        <% if(post.image != null) { %>
          <img class="post-img col-9 featurette-image img-fluid mx-auto" src="<%= post.image%>" />
        <% } else { %>
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">No image</text></svg>
          <% } %>
        
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- <div class="col-3 mt-5">
      <p><%=post.caption%></p>
    </div> -->

    <!-- Reviews section -->
    <section class="">
      <h2 class="">Reviews</h2>
      <div class="col-10 mt-4 mb-5">
        <ul class="row list-unstyled">
          <% for(let i=0; i<comments.length; i++) { %>
            <li class="justify-content-between mt-1 mb-2">
              <span><strong><%= `${comments[i].userName}: ` %></strong></span><%= comments[i].comment %>
              <!-- <% if(comments[i].user == user.id){ %>
                <form
                  action="/post/deletePost/<%= post.id %>?_method=DELETE"
                  method="POST"
                  class="col-3"
                >
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
                <%}%> -->
            </li>
          <% } %>
        </ul>
      </div>
      <form class="col-10" action="/comment/createComment/<%= post._id %>" method="POST">
        <div class="mb-3">
          <label for="comment" class="form-label">Add a review</label>
          <textarea class="form-control" id="comment" name="comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-light">Add</button>
      </form>
    </div>
    <!-- <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div> -->
  </div>
</div>





<%- include('partials/footer') -%>
